//- footer
footer.text-muted.py-5.bg-dark
    .container
        p.float-end.mb-1
            a(href='#') Back to top
        a(href='')
            i.fa-solid.fa-envelope  Click here to email us
        a(href='')
            i.fa-brands.fa-facebook Our Facebook
        p.mb-1 Thank you for visiting our website. Please feel free to contact us.