link(rel='stylesheet', href='/css/errorStyle.css')


html
  head
    title=title
  body
    .text
      div ERROR
      h1=statusCode
      hr
      div=message
      a(href="/") click here to go to homepage.
    .astronaut
      img.src(src='https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png', alt='')
  
  script(src="/js/errorPage.js") 