extends base


block append scripts 
    script(src="/js/forgotPassword.js") 


block content
  main.box
    .container.signup-container(id='')

      .form-container.sign-in-container.forgot-password-form
        form.signinForm(action='#')
          h1 Forgot password
          input(type='email', placeholder='Email',id='reset-email',required)
          button.btn.btn-dark Reset password
      .overlay-container
        .overlay
          .overlay-panel.overlay-right
            h1 Forgot Password
            p Enter your email to change your password.
