html
    head
    body
        main
            .card-wrapper
                .card-product
                    // card left
                    .product-imgs
                        .img-display
                            .img-showcase
                                img(src='images/2.jpg', alt='shoe image')
                                img(src='images/3.png', alt='shoe image')
                                img(src='images/4.jpg', alt='shoe image')
                                img(src='images/1.jpg', alt='shoe image')
                        .img-select
                            .img-item
                                a(href='#', data-id='1')
                                    img(src='images/2.jpg', alt='shoe image')
                            .img-item
                                a(href='#', data-id='2')
                                    img(src='images/3.png', alt='shoe image')
                            .img-item
                                a(href='#', data-id='3')
                                    img(src='images/4.jpg', alt='shoe image')
                            .img-item
                                a(href='#', data-id='4')
                                    img(src='images/1.jpg', alt='shoe image')
                    // card right
                    .product-content
                        h2.product-title Land for sale at hetauda-5
                        .product-detail
                            h2 about this item: 
                            p
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam tempora fuga tenetur placeat sapiente architecto illum soluta consequuntur, aspernatur quidem at sequi ipsa!
                            p
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.
                            ul
                                li
                                    i.fa-solid.fa-landmark
                                    |  Land area: 
                                    span 10 dhur
                                li
                                    i.fa-solid.fa-road
                                    |  Road width: 
                                    span 3.5m
                                // if type is buiding
                                li
                                    i.fa-solid.fa-house
                                    |  Plinth area: 
                                    span 500 sq ft
                                li
                                    i.fa-solid.fa-building
                                    |  Floor: 
                                    span 1 storey
                                li
                                    i.fa-solid.fa-bed
                                    |  Bedroom: 
                                    span 3
                                li
                                    i.fa-solid.fa-shower
                                    |  Bathroom: 
                                    span 1
                                li
                                    i.fa-solid.fa-equals
                                    |  Total rooms: 
                                    span 5
                        .social-links
                            p Share At: 
                            a(href='#')
                                i.fab.fa-facebook-f
                            a(href='#')
                                i.fab.fa-twitter
                            a(href='#')
                                i.fab.fa-instagram
                            a(href='#')
                                i.fab.fa-whatsapp
                            a(href='#')
                                i.fab.fa-pinterest